/*CSS Reset */
*{
    margin: 0;
    padding: 0;
}



/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    position: relative;
    display: flex ;
align-items: center;
}
/*Navigation Bar : Logo and image*/
#logo{
margin: 10px 34px;
}
#logo img{
    margin: 3px 6px;
height:59px;

}
#navbar ul{
    display: flex;
}
#navbar::before{
    content:"";
    background-color:gray;
    position:absolute;
    height: 100%;
    width:100%;
    z-index:-1;
    

}
#navbar ul li{
    list-style: none;
    font-size:1.3rem;
}
#navbar ul li a{
    color:whitesmoke;
    display : block;
    padding: 3px 22px;
border-radius: 20px;
text-decoration: none;
}
#navbar ul li a:hover{
    color:black;
    background-color: white;
}

/*home section*/
#home{
    display:flex;
    height: 450px;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content:"";
    background: url('../bg.jpg') no-repeat center center/cover;
    position:absolute;
    height: 100%;
    width:100%;
    z-index:-1;
    opacity:3 ;
    }
    #home h1{
        color:black;
        text-align:center;
        font-size: xx-large;
        font-family: 'Baloo Tamma 2', cursive;
        
    }
    #home p{
        color:brown;
        text-align:center;
        font-size:1.5rem;
    }
    /*services section*/
      #services{
          margin:34px;
          display:flex;
      }
      #services .box {
          border: 2px solid brown;
          margin: 3px,6px;
          display: block;
          background-color: rgba(140, 159, 160, 0.473);
          padding:34px;
          border-radius: 20px;

      }
      #services .box img{
          height:100px;
          margin:auto;
          display:block;
      }
      #services{

      }
      #services{}

    /*utility classes*/
    .h-primary{
        font-size:2.8rem;
        padding:12px;
        font-family: 'Bree Serif', serif;

    }
    .h-secondary{
        font-family: 'Bree Serif',serif ;
        font-size:2.3rem;
        padding:12px;
    }
    .btn{
        padding:6px,20px;
        border:2px solid white;
        background-color: black;
        margin: 20px;
        color: blanchedalmond;
        font-size: 1.2rem;
            shape-margin:0pc ;
            cursor: pointer;
    }
    .center{
        text-align:center;
    }
